/************************
    SECTION-NAME
*************************/
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--bg-primary);
}
:root{
    --bg-primary: #141922;
}

/************************
    BUTTON
*************************/

/************************
    SIDE-NAV
*************************/

/************************
    TOP-BAR
*************************/

/************************
    MAIN
*************************/

/************************
    BOTTOM-BAR
*************************/